---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div>
            <h1>Galería de FitLife Gym</h1>
            <p>Explra nuestras instalaciones y la energia de nuestros miembros.</p>
        </div>    
    </section>
</Layout>