---
import Layout from "../layouts/Layout.astro";
import Galeria from "../components/Galeria.astro"

---

<Layout>
    <section>
        <div>
            <h1>Galería de FitLife Gym</h1>
            <p>Explra nuestras instalaciones y la energia de nuestros miembros.</p>
        </div>
        <div class="galeria">
        <Galeria image="/imgaleria1.jpg" />
        <Galeria image="/imgaleria2.jpg" />
        <Galeria image="/imgaleria3.jpg" />
        <Galeria image="/imgaleria4.jpg" />
        <Galeria image="/imgaleria5.jpg" />
        <Galeria image="/imgaleria6.jpg" />
        <Galeria image="/imgaleria7.jpg" />
        <Galeria image="/imgaleria8.jpg" />
        <Galeria image="/imgaleria9.jpg" />
        <Galeria image="/imgaleria10.jpg" />
        <Galeria image="/imgaleria11.jpg" />
        <Galeria image="/imgaleria12.jpg" />
        <Galeria image="/imgaleria13.jpg" />
        <Galeria image="/imgaleria14.jpg" />
        <Galeria image="/imgaleria15.jpg" />
        </div>
    </section>
</Layout>