---
import Layout from "../layouts/Layout.astro";
import Jumbotron from "../components/Jumbotron.astro";
import CardPlanes from "../components/CardPlanes.astro";
import TarjetasClases from "../components/TarjetasClases.astro";
import ContactSection from "../components/ContactSection.astro";
import TestimonioSection from "../components/TestimonioSection.astro";

const cardPlanesList = [
  {
    title: "Plan Básico",
    price: 29,
    button:"Básico",
    list: [
      "Acceso a todas las áreas del gimnasio",
      "Clases grupales incluidas",
    ]
  },
  {
    title: "Plan Premium",
    price: 49,
    button:"Premium",
    list: [
      "Acceso a todas las áreas del gimnasio",
      "Clases grupales incluidas",
      "Entrenamiento personalizado (1 sesión/mes)"
    ]
  },
  {
    title: "Plan Elite",
    price: 79,
    button:"Elite",
    list: [
      "Acceso a todas las áreas del gimnasio",
      "Clases grupales incluidas",
      "Entrenamiento personalizado (1 sesión/mes)",
      "Acceso a áreas VIP"
    ]
  },
]

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Jumbotron />
  <section class="plansection">
    <h2>Nuetros Planes</h2>
    <div class="cardPlanes">
      {
        cardPlanesList.map(function (props) {
          return <CardPlanes title={props.title} price={props.price} button={props.button} list={props.list} />
        })
      }
    </div>
  </section>
  <section class="clasesection">
    <h2>Nuestras Clases</h2>
    <div class="cardclase">
      <TarjetasClases
        image="/cardfuerza.jpg"
        title="Entrenamiento de Fuerza"
        text="Desarolla músculo y aumenta tu fuerza con nuestros entrenamientos intensivos."
      />
      <TarjetasClases
        image="/cardyoga.jpg"
        title="Yoga y Flexibilidad"
        text="Mejora tu flexibilidad y encuentra la paz interior con nuestras clases de yoga."
      />
      <TarjetasClases
        image="/cardpesas.jpg"
        title="Levantamiento de Pesas"
        text="Alcanza tus Máximos con el apoyo de nuestros entrenadores expertos. "
      />
    </div>
  </section>
  <section class="horariosection">
    <h2>Horarios</h2>
    <div>Aqui va los horarios</div>
  </section>
  <section class="reviewsection">
    <h2>Testimonios</h2>
    <div>
      <TestimonioSection
        name="María Garcia"
        time="Hace 2 meses"
        review="FitLife Gym ha cambiado mi vida.He perdido peso y me siento más fuerte que nunca."
      />
    </div>
    <div>
      <TestimonioSection
        name="Juan Pérez"
        time="Hace 3 meses"
        review="Los entrenadores son excelentes y siempre están dispuestos a ayudar.Las instalaciones son de primera."
      />
    </div>
    <div>
      <TestimonioSection
        name="Lucía Martínez"
        time="Hace 1 mes"
        review="El ambiente es muy motivador y las clases son desafiantes.Recomiendo FitLife Gym a todos."
      />
    </div>
  </section>
  <section class="contactSection">
    <h2 class="contacto">Contacto</h2>
    <ContactSection />
  </section>
</Layout>



<style>
  h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    padding: 0 0 20px 0;
  }
  section {
    padding: 20px 120px;
  }
  .cardPlanes {
    display: flex;
    gap: 10px;
  }

  .cardclase {
    display: flex;
    gap: 20px;
  }

  .contacto {
  text-align: center;
  }

</style>
