---
import Layout from "../layouts/Layout.astro";
import Jumbotron from "../components/Jumbotron.astro";
import CardPlanes from "../components/CardPlanes.astro";
import TarjetasClases from "../components/TarjetasClases.astro";
import ContactSection from "../components/ContactSection.astro";
import TestimonioSection from "../components/TestimonioSection.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Jumbotron />
  <section>
    <h2>Nuetros Planes</h2>
    <div>
      <CardPlanes title="Plan Básico" price={29} />
      <CardPlanes title="Plan Premium" price={49} />
      <CardPlanes title="Plan Elite" price={79} />
    </div>
  </section>
  <section>
    <h2>Nuestras Clases</h2>
    <div>
      <TarjetasClases
        title="Entrenamiento de Fuerza"
        text="Desarolla músculo y aumenta tu fuerza con nuestros entrenamientos intensivos."
      />
      <TarjetasClases
        title="Yoga y Flexibilidad"
        text="Mejora tu flexibilidad y encuentra la paz interior con nuestras clases de yoga."
      />
      <TarjetasClases
        title="Levantamiento de Pesas"
        text="Alcanza tus Máximos con el apoyo de nuestros entrenadores expertos. "
      />
    </div>
  </section>
  <section>
    <h2>Horarios</h2>
    <div>
      <TestimonioSection 
      name="María Garcia"
      time="Hace 2 meses"
      review="FitLife Gym ha cambiado mi vida.He perdido peso y me siento más fuerte que nunca."
      />
    </div>
    <div>
      <TestimonioSection 
      name="Juan Pérez"
      time="Hace 3 meses"
      review="Los entrenadores son excelentes y siempre están dispuestos a ayudar.Las instalaciones son de primera."
      />
    </div>
    <div>
      <TestimonioSection 
      name="Lucía Martínez"
      time="Hace 1 mes"
      review="El ambiente es muy motivador y las clases son desafiantes.Recomiendo FitLife Gym a todos."
      />
    </div>
  </section>

  <ContactSection />
  
</Layout>
