---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h2>Incríbete Ahora</h2>
    <!-- formulario para el registro -->
    <form action="">
        <div class="name">
            <div class="Nombre">
                <h3>Nombre</h3>
                <input type="text">
            </div>
            <div class="Apellido">
                <h3>Apellido</h3>
                <input type="text">
            </div>
        </div>
        <div>
            <h3>Fecha de Nacimiento</h3>
            <input type="date">
        </div>
        <div>
            <h3>Correo Electrónico</h3>
            <input type="email">
        </div>
        <div>
            <h3>Teléfono</h3>
            <input type="text">
        </div>
        <div>
            <h3>Tipo de Plan</h3>
            <input type="text">
        </div>
        <div class="button">
            <div>
                <button type="submit">Enviar</button>
            </div>
            <div>
                <button class="button-cancel">Cancelar</button>
            </div>
        </div>    
        </form>
</Layout>


<style>

    .name {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .Nombre {
        width: 50%;
    }

    .Apellido {
        width: 50%;
    }


    h2{
    text-align : center;
    font-size: 24px;
    font-weight: 700;
    }

    h3 {
        padding: 10px 0;
        font-size: 17px;
        font-weight: 600;
    }

    form{
        padding: 15px 300px;
    }

    input {
        background-color: #482323;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
    }

    button {
        background-color:#F21616;
        padding: 8px 24px;
        color: #ffff;
        border-radius: 5px;
        font-weight: bold;
        transition: background .3s ease-in-out;
        cursor: pointer;
    }
    button:hover {
    background-color: #780808;
    }


    .button-cancel {
        background-color: #482323;
    }
    button-cancel:hover {
    background-color: #120606;
    }


    .button {
        display: flex;
        justify-content: space-between;
        padding: 20px 150px;
    }


</style>