---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h2>Incríbete Ahora</h2>
    <!-- formulario para el registro -->
    <form action="">
        <div>
            <h3>Nombre</h3>
            <input type="text">
        </div>
        <div>
            <h3>Apellido</h3>
            <input type="text">
        </div>
        <div>
            <h3>Fecha de Nacimiento</h3>
            <input type="date">
        </div>
        <div>
            <h3>Correo Electrónico</h3>
            <input type="email">
        </div>
         <div>
            <h3>Teléfono</h3>
            <input type="text">
        </div>
         <div>
            <h3>Tipo de Plan</h3>
            <input type="text">
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
         <div>
            <button>Cancelar</button>
        </div>
    </form>
</Layout>