---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h2>Nuestra Ubicación</h2>
    <section>
        <!-- Aqui va el mapa de ubicacion -->
        <span>mapa</span>
    </section>
    <div>
        <h3>Dirección</h3>
        <p>Calle 123, Ciudad Valencia, Venezuela.</p>
    </div>
     <div>
        <h3>Puntos de Referencia</h3>
        <p>Cerca del parque central y la estación de metro principal.</p>
    </div>
     <div>
        <h3>Horario de Atención</h3>
        <p>Lunes a Viernes: 6:00 AM - 10:00 PM Sábados: 8:00 AM - 6:00 PM Domingos: 9:00 AM - 3:00 PM</p>
    </div>
     <div>
        <h3>Contacto</h3>
        <p>Teléfono: +1(555) 123-4567 Correo Electrónico: contacto@fitlifegym.com</p>
    </div>

</Layout>