<div>
    <div>
        <h3>Plan Básico</h3>
        <p>$29/mes</p>
    </div>
    <div>
        <button>Selecionar Plan Básico</button>
    </div>
    <div>
        <ul>
            <li>Acceso a todas las áreas del gimnasio</li>
            <li>Clases grupales incluidas</li>
        </ul>
    </div>
</div>