---
interface Props {
    title: string
    price: number
    button: string
    list: string[]

}

const {title,price,button,list,} = Astro.props
---

<div class="container">
    <div class="titulo">
        <h3>{title}</h3>
        <p><span>${price}</span>/mes</p>
    </div>
    <div>
        <a href=""><button>Selecionar Plan {button}</button></a>
    </div>
    <div class="list">
        <ul>
            {
                list.map(function (item) {
                    return <li>{item}</li>
                })
            }
        </ul>
    </div>
</div>

<style>
    .container {
        color: #ffff;
        background-color: #331919;
        text-align: center;
        padding: 12px;
        width: 100%;
        max-width: none;
        border: 2px solid #402020;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h3 {
        font-size: 16px;
        font-weight: 600;
        padding: 2px;
        text-align: start;
    }

    p {
        font-weight: bold;
        text-align: start;
        padding: 0 0 0 15px;
    }

    span {
        font-size: 30px;
    }

    button {
        background-color: #482323;
        padding: 12px 48px;
        border-radius: 10px;
        font-weight: 700;
        transition: background .3s ease-in-out;
        cursor: pointer;
    }
    button:hover {
    background-color: #311111;
    }

    ul {
        text-align: start;
        padding: 0 30px 100px 40px;
    }

    li {
        padding: 5px 0;
        font-size: 14px;
    }


</style>