---
interface Props {
    title: string
    price: number
}

const {title,price} = Astro.props
---

<div class="container">
    <div class="titulo">
        <h3>{title}</h3>
        <p><span>${price}</span>/mes</p>
    </div>
    <div>
        <a href=""><button>Selecionar Plan Básico</button></a>
    </div>
    <div class="list">
        <ul>
            <li>Acceso a todas las áreas del gimnasio</li>
            <li>Clases grupales incluidas</li>
        </ul>
    </div>
</div>

<style>
    .container {
        color: #ffff;
        text-align: center;
        padding: 12px;
        width: 100%;
        max-width: none;
    }

    h3 {
        font-size: 16px;
        font-weight: 600;
        padding: 2px;
    }

    p {
        font-weight: bold;
    }

    span {
        font-size: 19px;
    }

    button {
        background-color: #482323;
        padding: 12px 36px;
        border-radius: 10px;
        font-weight: 700;
    }



</style>