<section>
    <form action="">
        <input type="text">
        <input type="email">
        <textarea name="" id="" cols="30"></textarea>

        <button type="submit">Enviar</button>
    </form>
</section>


<style>

    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        padding: 0 180px;
    }

    input {
        background-color:#482323;
        padding: 5px;
        border-radius: 5px;

    }

    textarea {
        background-color: #482323;
        border-radius: 5px;
        width: auto;
        height: 120px;
    }

</style>