---
import { Icon } from 'astro-icon/components'
---


<footer>
    <div class="text">
        <div>
            <p>Política de Privacidad</p>
        </div>
        <div>
            <p>Términos de Servicio</p>
        </div>
        <div>
            <p>Contacto</p>
        </div>
    </div>    
        <div class="icon">
            <Icon name={"mdi--instagram"}/>
            <Icon name={"mdi--facebook"}/>
            <Icon name={"mdi--whatsapp"}/>
        </div>
        <p class="derecho">2024 FitLife Gym, Todos los derechos reservados.</p>
</footer>


<style>
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        padding: 40px;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }
    @media (max-width:768px) {
        div { 
            padding: 0 0 0;
        }
        
    }

    .text {
        display: flex;
        flex-direction: row;
        gap: 200px;
        padding: 5px 50px;
    }
    @media (max-width: 768px) {
        .text{
            gap: 100px;
            padding: 5px;
            font-size: 14px;
        }
    }


    .icon {
        padding: 5px 0 20px 80px;
    }

    .derecho {
        padding: 0 0 0 80px;
    }



</style>