<footer>
        <div>
            <p>Política de Privacidad</p>
        </div>
        <div>
            <p>Términos de Servicio</p>
        </div>
        <div>
            <p>Contacto</p>
        </div>
        <div>iconos</div>
        <p>2024 FitLife Gym, Todos los derechos reservados.</p>
</footer>