---
import { Icon } from 'astro-icon/components'
---


<footer>
        <div>
            <p>Política de Privacidad</p>
        </div>
        <div>
            <p>Términos de Servicio</p>
        </div>
        <div>
            <p>Contacto</p>
        </div>
        <div>
            <Icon name={"mdi--instagram"}/>
            <Icon name={"mdi--facebook"}/>
            <Icon name={"mdi--whatsapp"}/>
        </div>
        <p>2024 FitLife Gym, Todos los derechos reservados.</p>
</footer>