---
import { Icon } from 'astro-icon/components'
---


<header>
  <nav class="menu">

    <div class="logo">
      <Icon name={"icono-gym"} width={15} height={15} />
      <a href="/"><p>FitLife Gym</p></a>
    </div>

    <div class="enlaces">
      <a href="#">Clases</a>
      <a href="#">Horario</a>
      <a href="/gallery">Galeria</a>
      <a href="/ubication">Ubicaciones</a>
      <a href="#">Contacto</a>
      <a href="/sign-up"><button>Incríbete ahora</button></a>
    </div>
  </nav>
</header>

<style>
    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 60px;
    }


    .logo {
      display: flex;
      gap: 8px;
      align-items: center;
      font-weight: bold;
      font-size: 19px;
    }

    .enlaces {
      display: flex;
      gap: 32px;
      align-items: center;
    }

    button  {
      background-color:#F21616;
      padding: 8px 24px;
      color: #ffff;
      border-radius: 5px;
      font-weight: bold;
      transition: background .3s ease-in-out;
      cursor: pointer;
    }
    button:hover {
      background-color: #780808;

    }
</style>
