<header>
    <nav>
        <div>
            <span>Icono</span>
            <p>FitLife Gym</p>
        </div>
        <div>
        <a href="#">Clases</a>
        <a href="#">Horario</a>
        <a href="/gallery">Galeria</a>
        <a href="/ubication">Ubicaciones</a>
        <a href="#">Contacto</a>
        <button>Incríbete ahora</button>
        </div>
    </nav>
</header>