<header>
    <nav>
        <a href="/">Inicio</a>
        <a href="#">Clases</a>
        <a href="#">Horario</a>
        <a href="/gallery">Galeria</a>
        <a href="/ubication">Ubicaciones</a>
        <a href="#">Contacto</a>
        <a href="/sign-up">Inscríbete ahora</a>
        <a href="/sign-up">Iniciar Sesión</a>

    </nav>
</header>