---
import { Icon } from 'astro-icon/components'
---


<header>
  <nav>
    <div>
      <Icon name={"icono-gym"} width={40} height={40} />
      <a href="/"><p>FitLife Gym</p></a>
    </div>
    <div>
      <a href="#">Clases</a>
      <a href="#">Horario</a>
      <a href="/gallery">Galeria</a>
      <a href="/ubication">Ubicaciones</a>
      <a href="#">Contacto</a>
      <a href="/sign-up"><button>Incríbete ahora</button></a>
    </div>
  </nav>
</header>
