<section>
  <div class="container">

    <h1>Trasforma tu cuerpo, transforma tu vida</h1>
    <p>
      En FitLife Gym, te ayudamos a acalzar tus metas de fitness con entrenamientos
      personalizados y un ambiente motivador
    </p>
    <a href="#"><button>Comienza tu viaje</button></a>
  </div>
</section>


<style>
  section {
    padding: 0 120px;
  }

  .container {
      text-align: center;
      flex-direction: column;
      display: flex;
      gap: 16px;
      align-items: center;
      padding: 60px;
      background-color: #2e2e2e;
      color: #ffff;
      border-radius: 10px;
  }

  h1 {
    font-size: 56px;
    font-weight: 600;
  }

  button {
    background-color: #f21616;
    padding: 12px 36px;
    border-radius: 10px;
    font-weight: 700;
  }
</style>