<section>
  <h1>Trasforma tu cuerpo,transforma tu vida</h1>
  <p>
    En FitLife Gym,te ayudamos a acalzar tus metas de fitness con entrenamientos
    personalizados y un ambiente motivador
  </p>
  <a href="#"><button>Comienza tu viaje</button></a>
  
</section>
