---
interface Props{
    name: string
    time: string
    review: string
}

const {name,time,review} = Astro.props

---


<div class="container">
    <img src="#" alt="imagen de usuario">
    <div class="name">
        <h3>{name}</h3>
        <p>{time}</p>
    </div>
    <div class="review">
        <span>estrellas</span>
        <p>{review}</p>
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .name {
        display: flex;

    }

    .review {
        display: flex;
        flex-direction: column;
    }
</style>