---
import { Icon } from 'astro-icon/components'

interface Props{
    name: string
    time: string
    review: string
}

const {name,time,review} = Astro.props


---


<div class="container">
    <div class="title">
        <div class="img">
        <img src="#" alt="icono">
        </div>
        <div class="name">
            <h3>{name}</h3>
            <p>{time}</p>
        </div>
    </div>
    <div class="review">
        <Icon name={"star-review"} width={30} height={30}/>
        <Icon name={"star-review"} width={30} height={30}/>
        <Icon name={"star-review"} width={30} height={30}/>
        <Icon name={"star-review"} width={30} height={30}/>
        <Icon name={"star-review"} width={30} height={30}/>
    </div>
    <p>{review}</p>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
    }

    .img {
        display: flex;
    }

    .title {
        display: flex;
        
    }

    .name {
        display: flex;
        flex-direction: column;
    }

    .review {
        display: flex;
        color: red;
    }

    p{
        padding: 0 0 30px 0;
    }

</style>